:root {
	--website: #0070f3;
	--github: #bbbbbb;
	--linkedin: #0077c2;
	--mail: #bb001b;
	--featured: #ffd700;
}

.Random,
.Wiki,
.Akinator,
.Typeracer {
	border: solid 3px var(--featured);
	transition: ease-out 0.25s;
}

.Random:hover,
.Wiki:hover,
.Akinator:hover,
.Typeracer:hover {
	background-color: var(--featured);
}

.Portfolio {
	border: solid 3px var(--website);
	transition: ease-out 0.25s;
}

.Portfolio:hover {
	background-color: var(--website);
}

.Github {
	border: solid 3px var(--github);
	transition: ease-out 0.25s;
}

.Github:hover {
	background-color: var(--github);
}

.LinkedIn {
	border: solid 3px var(--linkedin);
	transition: ease-out 0.25s;
}

.LinkedIn:hover {
	background-color: var(--linkedin);
}

.Mail {
	border: solid 3px var(--mail);
	transition: ease-out 0.25s;
}

.Mail:hover {
	background-color: var(--mail);
}

.source-code {
	position: relative;
	top: 0;
	transition: top ease-out 0.4s;
}

.source-code:hover {
	top: -10px;
}
