:root {
	--website: #043aa5;
	--github: #bbbbbb;
	--linkedin: #0077c2;
	--mail: #bb001b;
	--featured: #ffd700;
}

.Random {
	border: solid 4px #ffd700;
}

.Random:hover {
	background-color: #ffd700;
}

.Wiki {
	border: solid 4px #ffd700;
}

.Wiki:hover {
	background-color: #ffd700;
}

.Akinator {
	border: solid 4px #ffd700;
}

.Akinator:hover {
	background-color: #ffd700;
}

.Typeracer {
	border: solid 4px #ffd700;
}

.Typeracer:hover {
	background-color: #ffd700;
}

.Github:hover {
	background-color: var(--github);
}

.LinkedIn:hover {
	background-color: var(--linkedin);
}

.Mail:hover {
	background-color: var(--mail);
}

.Github {
	border: solid 4px var(--github);
	background-color: var(--github);
	background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;
	color: inherit;
	transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s,
		border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s,
		transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s,
		background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s;
}
.LinkedIn {
	border: solid 4px var(--linkedin);
	background-color: var(--linkedin);
	background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;
	color: inherit;
	transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s,
		border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s,
		transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s,
		background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s;
}
.Mail {
	border: solid 4px var(--mail);
	background-color: var(--mail);
	background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;
	color: inherit;
	transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s,
		border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s,
		transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s,
		background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s;
}

.Wiki,
.Random,
.Akinator,
.Typeracer {
	border: solid 4px var(--featured);
	background-color: var(--featured);
	background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;
	color: inherit;
	transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s,
		border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s,
		transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s,
		background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s;
}
