body {
	background-color: #111;
	color: white;
	margin: 0;
	padding: 0;
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

main {
	height: 100vh;
	max-width: 50em;
	margin: 0 auto;
	padding: 0.5rem 0;
}

.img {
	border-radius: 50%;
	width: 96px;
	height: 96px;
	object-fit: contain;
	object-position: initial;
	filter: none;
	border: solid 3px var(--website);
}

.prof-pic {
	display: flex;
	align-items: center;
	justify-content: center;
}

h1,
p {
	text-align: center;
}

h1 {
	margin-bottom: 1rem;
	font-size: 2.7rem;
}

p {
	color: #aaa;
	font-size: 1.3em;
}

.main {
	display: flex;
	justify-content: space-around;
}

.col1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

a {
	display: flex;
	justify-content: center;
	align-content: center;
	text-decoration: none;
	color: white;
	margin: 8px 0px;
	padding: 15px 4px;
	width: 90%;
	font-size: 1.5em;
}

h2 {
	margin: 20px 0 0 0;
}

.link-underline {
	width: 70px;
	border-bottom: 5px solid #0070f3;
	margin: 5px 0 20px 0;
}

.project-underline {
	width: 230px;
	border-bottom: 5px solid #ffd700;
	margin: 5px 0 20px 0;
}

.source-code {
	width: fit-content;
	align-items: center;
	margin: 30px 0 0 0;
	text-decoration: underline;
}

img {
	margin: 0 5px 0 0;
}
