* {
	box-sizing: border-box;
}

body {
	background-color: #282c34;
	margin: 0;
	padding: 0;
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

main {
	height: 100vh;
	display: -ms-grid;
	display: grid;
	grid-template-columns: 4% 92% 4%;
	grid-template-rows: 1fr;
}

h1,
p {
	text-align: center;
}

h1 {
	margin-bottom: 1rem;
	font-size: 3rem;
}

p {
	color: #aaa;
	margin-bottom: 3rem;
	font-size: 1.2em;
}

.middle {
	color: white;
	grid-column: 2/3;
	justify-self: center;
	align-self: center;
}

.main {
	display: flex;
	justify-content: space-around;
}

.col1 {
	display: flex;
	flex-direction: column;
}

a {
	display: flex;
	justify-content: center;
	align-content: center;
	text-decoration: none;
	color: white;
	margin: 8px 0px;
	padding: 15px 4px;
	border: solid 2px;
	width: 25rem;
	font-size: 1.5em;
}

@media screen and (max-width: 570px) {
	main {
		grid-template-columns: 1% 98% 1%;
	}
	h1,
	p {
		text-align: center;
	}
}

@media screen and (max-width: 430px) {
	h1 {
		font-size: 2.7rem;
	}

	a {
		width: 20rem;
	}
}

@media screen and (max-width: 350px) {
	h1 {
		font-size: 2.4rem;
	}

	a {
		width: 18rem;
	}
}

/* code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
} */
