body {
	background-color: #111;
	color: white;
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	max-width: 55em;
	margin: 0 auto;
}

h1,
p {
	text-align: center;
}

h1 {
	margin-bottom: 1rem;
	font-size: 2.7rem;
}

p {
	color: #aaa;
	font-size: 1.3em;
	margin-bottom: 30px;
}

.main {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.col1,
.col2,
.col3 {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 25rem;
}

a {
	display: flex;
	justify-content: center;
	align-content: center;
	text-decoration: none;
	text-align: center;
	color: white;
	margin: 8px 0px;
	padding: 15px 4px;
	width: 90%;
	font-size: 1.5em;
}

h2 {
	margin: 20px 0 0 0;
}

.source-code {
	width: fit-content;
	align-items: center;
	margin: 20px 0 0 0;
	text-decoration: underline;
}
